---
import AboutHeroImage from '../assets/blog-placeholder-about.jpg';
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Author Introduction"
	pubDate={new Date('August 08 2021')}
	heroImage={AboutHeroImage}
>
	<p>
		Full Stack software engineer with over 10 years of experience working on everything he finds interesting.
		Front end, backend, iOS, Android, Crypto, and everything in between. Also co-authored two editions
		of the &nbsp;
		<a href="https://www.amazon.com/dp/1803234458?lv=shuf&channelId=500&plpRedirect=mhFallback">SwiftUI Cookbook</a>.&nbsp;
		That's me, Edgar Nzokwe
	</p>
	<p>
		The purpose of this blog is to share my thoughts on tech and most stray thoughts that pass through my mind.
		I promise the content in here will be 100% brain-generated without the use of AI tools. AI is very useful
		but should not replace the joy of taking the time to patiently put one's thoughts on paper.
	</p>

</Layout>
